<br><br><br><br>
<div class="container">
  <h2>投稿編集</h2>
    <%= form_with model: @post, url: users_post_path(@post.id), local:true do |f| %>
    <h5>釣り場ジャンル</h5>
    <div class="row">
      <div class="mr-3">
        <%= f.radio_button :fishing_spot_id, :海, checked: true %>
        <%= f.label :海, class: "fishing_spot_id_label" %><br>
      </div>
      <div class="mr-3">
        <%= f.radio_button :fishing_spot_id, :湖 %>
        <%= f.label :湖, class: "fishing_spot_id_label" %><br>
      </div>
      <div class="mr-3">
        <%= f.radio_button :fishing_spot_id, :川 %>
        <%= f.label :川, class: "fishing_spot_id_label" %><br>
      </div>
      <div class="mr-3">
        <%= f.radio_button :fishing_spot_id, :その他 %>
        <%= f.label :その他, class: "fishing_spot_id_label" %><br>
      </div>
    </div>
    <h5>釣り場種類</h5>
    <div class="row">
      <div class="mr-3">
        <%= f.radio_button :spot_type, :河川, checked: true %>
        <%= f.label :河川, class: "spot_type_label" %><br>
      </div>
      <div class="mr-3">
        <%= f.radio_button :spot_type, :湖 %>
        <%= f.label :湖, class: "spot_type_label" %><br>
      </div>
      <div class="mr-3">
        <%= f.radio_button :spot_type, :池 %>
        <%= f.label :池, class: "spot_type_label" %><br>
      </div>
      <div class="mr-3">
        <%= f.radio_button :spot_type, :港 %>
        <%= f.label :港, class: "spot_type_label" %><br>
      </div>
      <div class="mr-3">
        <%= f.radio_button :spot_type, :堤防 %>
        <%= f.label :堤防, class: "spot_type_label" %><br>
      </div>
      <div class="mr-3">
        <%= f.radio_button :spot_type, :海岸 %>
        <%= f.label :海岸, class: "spot_type_label" %><br>
      </div>
      <div class="mr-3">
        <%= f.radio_button :spot_type, :磯 %>
        <%= f.label :磯, class: "spot_type_label" %><br>
      </div>
      <div class="mr-3">
        <%= f.radio_button :spot_type, :沖 %>
        <%= f.label :沖, class: "spot_type_label" %><br>
      </div>
      <div class="mr-3">
        <%= f.radio_button :spot_type, :海上釣り堀 %>
        <%= f.label :海上釣り堀, class: "spot_type_label" %><br>
      </div>
      <div class="mr-3">
        <%= f.radio_button :spot_type, :管理釣り堀 %>
        <%= f.label :管理釣り堀, class: "spot_type_label" %><br>
      </div>
      <div class="mr-3">
        <%= f.radio_button :spot_type, :カセ %>
        <%= f.label :カセ, class: "spot_type_label" %><br>
      </div>
      <div class="mr-3">
        <%= f.radio_button :spot_type, :イカダ %>
        <%= f.label :イカダ, class: "spot_type_label" %><br>
      </div>
      <div class="mr-3">
        <%= f.radio_button :spot_type, :その他 %>
        <%= f.label :その他, class: "spot_type_label" %><br>
      </div>
    </div>
    <div class="row">
      <h5>釣り方</h5>
      <div class="mr-3">
        <%= f.text_field :fishing, placeholder: "釣り方", size: "40" %>
      </div>
    </div>
    <div class="row">
      <h5>釣り魚</h5>
      <div class="mr-3">
        <%= f.text_field :fish, placeholder: "釣り魚", size: "40" %>
      </div>
    </div>

    <!--地図機能-->

    <div class="row">
      <h5>釣果画像</h5>
      <div class="mr-3">
        <%= f.attachment_field :post_files_images, multiple: true %>
      </div>
    </div>
    <div class="row">
      <h5>タイトル</h5>
      <div class="mr-3">
        <%= f.text_field :title, placeholder: "タイトル", size: "40" %>
      </div>
    </div>
    <div class="row">
      <h5>テキスト</h5>
      <div class="mr-3">
        <%= f.text_area :text, placeholder: "テキスト", size: "40×15" %>
      </div>
    </div>
    <div class="text-center">
      <%= f.submit "投稿の編集を完了する", class: 'btn btn-success btn-lg' %>
    </div>
  <% end %>
  　<%= link_to "投稿を削除する", users_post_path(@post.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger destroy_users_post_#{@post.id}" %>
</div>
<br><br>