<br><br><br><br>
<div class="container">
  <h2>投稿一覧</h2>
  <div class="row">
    <% @posts.each do |post| %>
      <%= link_to post.user.name, users_post_path(post.id) %>
      <p><%= attachment_image_tag @post_file, :post_files_image, size: "270×200", fallback: "" %></p>
      <h6><%= link_to post.title, users_post_path(post.id) %></h6>
      <p><%= post.text %></p>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>